*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#carouselId-1{
    height: 100%;
    margin: 20px;
}

